@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,800;1,400;1,600&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,900&display=swap');
*{
    padding:0;
    margin:0;
    
}
body {
    width: 100%;
    height: 100%;
    background-color: #DBE2EA;
}
section{
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
    font-family: poppins;
    /* background-color: #DBE2EA; */
    position: relative;
    width: 100%;
    height: 100%;
}
section .watermark{
    left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    font-size: 16vw;
    color: #c7ccd2;
    /* padding-top: 22vh; */
    z-index: -1;
}
header{
    /* width: 100%; */
    padding:15px 60px;
    /*background: cyan;*/    
}
.na_bar{
    background-color: beige;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_item{
    display: flex;
    gap: 2.9vw;
    text-decoration: none;
}
.nav_item a{
    text-decoration: none;
    color: #404245;
    font-weight: normal;
    font-size: 16px;
    transition: transform .1s;
}

.right_nav{
    display: flex;
    gap: 2.9vw;
    align-items: center;
    justify-content: space-between;
}
.right_nav a{
    background-color: #318DCA;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-weight: normal;
    transition: transform .1s;
}
a:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.right_nav i{
    font-size: 20px;
    color: white;
    position: relative;
    top: 9px;
    left:9px;
}
.right_nav h2{
    font-size:medium ;
    font-weight: 20px;
}
.container{
    padding: 0px 80px ;
    display: flex;
    align-items: center;
    /* height: 70%;  */
}
.left_cont{
    display: flex;
    padding: 40px;
    width: 50%;
    /* background-color: azure; */
}
.sub_left{
    margin: 0px;
    display: flex;
    /* gap: 4rem; */
    justify-content: space-between;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 0px 10px;
    /* background-color: black; */
}
.sub_left a{
    text-decoration: none;
    color: #404245;
    font-weight: normal;
    font-size: 16px;
}
.sub_right{
    padding: 10px 40px;
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}
.sub_right h1{
    font-size: 60px;
    font-weight: bold;
    /* background-color: black; */
}
.sub_right span{
    position: relative;
    top: -3vh;
    color: #318DCA;
}
.sub_right p{
    align-items: center;
    justify-content: center;
    color: #404245;
    /* padding: 40px 0px; */
    /* background-color: aqua; */
}
.sub_right i{
    padding: 0px 0px 0px 14px;
    font-size: 38px;
}
.butn{
    /* background-color: black; */
    padding: 40px 0px;
}
.sub_right button{
    position: relative;
    width: fit-content;
    font-size: large;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    color: #DBE2EA;
    border-radius: 10px;
    background-color: #318DCA;
    display: flex;
    align-items: center;
}
.right_cont{
    display: flex;
    gap: 2rem;
    align-items: baseline;
    padding: 20px;
    position: relative;
}
.rigleft model-viewer{
    width: 400px;
    height: 450px;
}
.lefleft {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}
.circle i {
    width: fit-content;
    height: fit-content;
    padding: 17px 20px;
    border-radius: 50px;
    background-color: #318DCA;
    color: #DBE2EA;
}
.circle :hover{
    background-color: white;
    color: black;
}
.footer{
    /* position:absolute; */
    padding: 0px 150px ;   
}
.footcont{
    padding: 0px 60px;
    width: 38vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
.date{
    padding-left: 4rem;
}
span , .country {
    color: #318DCA;
}
.arrow,.date{
    display: flex;
    align-items: flex-end;
}
.arrow :hover{
    transform: scale(1.5);
}

/* 
@media (max-width:600px) {
    body{
        background-color: red;
    }
    .right_cont{
        display: none;
    }
    .sub_left{
        display: none;
    }
}
@media (max-width:820px )and (min-width:600px){
    .rigleft model-viewer{
        width: 300px;
        height: 350px;
    }
} */